<!-- <div class="footer">

  <p>
    <mat-icon>copyright</mat-icon> Derechos reservados Grupo #3
  </p>
</div> -->

<footer class="p-3 mb-0 text-white footer">
  <div class="container">
      <div class="row">
          <div class="col-md-6" style="text-align: left;">
              <p class="text-left">© Calidad de Software</p>
          </div>
          <div class="col-md-6" style="text-align: right;">
              <p>Grupo #3 - Avance Proyecto</p>
          </div>
      </div>
  </div>
</footer>

