
<div class="ficha_estudiante">

  <p>
   Ficha de datos del estudiante
  </p>
</div>


<button (click)="regresar_pagina_estudiante()">↩Regresar al menu</button>

<div class="datos">
  <h2>Foto perfil:</h2>
  <img src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg" >
  <h2>Cedula de identidad:</h2>
  <p class="texto">094039402</p>
  <h2>Nombres: </h2>
  <p class="texto">Carlos Eduardo</p>
  <h2>Apellidos: </h2>
  <p class="texto">Macias Quezada</p>
  <h2>Edad: </h2>
  <p class="texto">23 años</p>
  <h2>Direccion domiciliaria: </h2>
  <p>Urdesa</p>
  <h2>Correo: </h2>
  <p class="texto">eduard23_do@hotmail.com</p>
  <h2>Telefono: </h2>
  <p class="texto">2-348576</p>
  <h2>Nivel educativo: </h2>
  <p class="texto">Medio</p>
</div>
