
mat-card{

    padding: 0.6rem;
    margin: 0 auto;
    background-color: lightgray;
}

form{

    padding: 1.2rem;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
    background-color: rgba(96, 189, 167, 0.879);
}

form h2{

    font-family: sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}


.campos-field{

    width: 80%;
    margin: 0 auto;
    margin-left: 10%;
}

.pie_login{

    font-size: 0.6rem;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 5%;
    margin-left: 35%;
    background-color: rgba(96, 189, 167, 0.879);
    border: none;
    color: blue;
}


.sesion{

    margin-top: 5%;
    margin-left: 39%;
}

.sesion:hover{

    background-color: lightblue;
}

div{

    background-color: lightcoral;
}
