<!-- <div class="nombre_curso">Nombre del curso</div>

<div class="botones_estudiante">
  <button class="horario" (click)="ver_horario_estudiante()">Horarios(semestres) <mat-icon>today</mat-icon></button>
  <button class="calificaciones" (click)="ver_calificaciones_estudiante()">Calificaciones <mat-icon>assignment</mat-icon></button>
  <button class="ficha_datos" (click)="ver_perfil_estudiante()">Perfil <mat-icon>assignment_ind</mat-icon></button>
  
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <!-- Contenido del menu -->
      <div class="nombre_curso">Nombre del curso</div>
      <div class="botones_estudiante">

        <button class="horario" (click)="ver_horario_estudiante()">Horarios(semestres)
          <mat-icon>today</mat-icon></button>

        <button class="calificaciones" (click)="ver_calificaciones_estudiante()">Calificaciones
          <mat-icon>assignment</mat-icon></button>

        <button class="ficha_datos" (click)="ver_perfil_estudiante()">Perfil
          <mat-icon>assignment_ind</mat-icon></button>

      </div>
    </div>

    <div class="col-md-9">

      <!-- Contenido de las vistas -->
      <app-Horario_estudiante *ngIf="mostrarHorario"></app-Horario_estudiante>
      <app-Calificaciones_estudiante *ngIf="mostrarCalificaciones"></app-Calificaciones_estudiante>
      <app-Perfil_estudiante *ngIf="mostrarPerfil"></app-Perfil_estudiante>

    </div>

  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-3">-->
      <!-- Menú -->
      <!-- <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9"> -->
      <!-- Contenido principal -->
      <!-- <h1>Bienvenido</h1>
      <p>Este es el contenido principal de la página.</p>
    </div>
  </div>
</div> -->